#title {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

mat-paginator {
  z-index: 10;
}

div.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.table-responsive {
  width: 90%;
  flex: 1;
  overflow-x: auto;
}
