.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #1a1a1a;
}

.button-container {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 19rem;
}

.saveBtn {
  background-color: #f7ec77;
  height: 50px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

.cancelBtn {
  background-color: #f7ec77;
  height: 50px;
  width: 90px;
  border: none;
  border-radius: 5px;
}
