.components{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-bottom:0;
}
.desks {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.desk {
  margin: 2px;
  height: 40px;
  width: 50px;
  background-image: url("../../../../assets/desk2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: thin solid black;
  border-radius: 30px;
}

.room {
  margin: 2px;
  height: 60px;
  width: 100px;
  border: thin solid black;
  border-radius: 30px;
  font-family: "Bauhaus 93";
  font-size: 18px;
  font-weight: 100;
}

.available {
  background-color: #7ac38f;
}

.partially {
  background-color: #f2fc9f;
}

.booked {
  background-color: #f35c6e;
}
