<div class="components">
  <div class="desks" *ngFor="let key of desks | keyvalue">
    <ng-container *ngFor="let value of key.value">
      <button
        class="desk"
        [ngClass]="{
          available:
            desk_availability[value] == 0 ||
            desk_availability[value] == undefined,
          partially: desk_availability[value] == 1,
          booked: desk_availability[value] == 2
        }"
        (click)="openModal(value, false)"
      >
      
      </button>
    </ng-container>
  </div>
  <div class="rooms" *ngFor="let room of rooms">
    <button
      class="room"
      [ngClass]="{
        available:
          desk_availability[room] == 0 || desk_availability[room] == undefined,
        partially: desk_availability[room] == 1,
        booked: desk_availability[room] == 2
      }" (click)="openModal(room, true)"
    >
      {{ room }}
    </button>
  </div>
</div>
