.all {
  background-color: #1a1a1a;
  border: thin solid yellow;
}

.map-container {
  flex: 1;
  width: 100%;
  background-image: url("../../../../../assets/map_bckg.png");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: 65%;
}
