<body class="components">
  <div class="components" *ngFor="let key of desks | keyvalue">
    <div class="desks">
      <ng-container *ngFor="let value of key.value">
        <button
          class="desk"
          [ngClass]="{
            available:
              desk_availability[value] == 0 ||
              desk_availability[value] == undefined,
            partially: desk_availability[value] == 1,
            booked: desk_availability[value] == 2
          }"
          (click)="openModal(value, false)"
        ></button>
      </ng-container>
    </div>
  </div>
</body>
