body.components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: -70px;
}

.desks {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.desk {
  margin: 2px;
  height: 40px;
  width: 50px;
  background-image: url("../../../../assets/desk3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: thin solid black;
  border-radius: 30px;
}

.available {
  background-color: #7dd87d;
}

.partially {
  background-color: #f7ec77;
}

.booked {
  background-color: #f35c6e;
}
