.background-image {
  background-image: url("../src/assets/futuristic-background-design_23-2148503793.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #94ab98;
  border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
