.background-image {
  background-image: url("../src/assets/WhatsApp\ Image\ 2024-03-15\ at\ 19.09.37.jpeg");
  background-size: contain;
  background-repeat:round;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #94ab98;
  border-radius: 10px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
